.container {
  display: flex;
  flex-direction: column;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  gap: 0.5rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container>*+* {
  margin-top: 0.5rem;
}

.emailInput,
.passwordInput {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 1rem;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.passwordRecoveryInfo {
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: white;
}

.passwordRecoveryInfo p {
  margin: 0;
}

.passwordRecoveryInfo a {
  color: #1a73e8;
  text-decoration: none;
  font-weight: 500;
}

.passwordRecoveryInfo a:hover {
  text-decoration: underline;
}
