.container {
  display: flex;
  flex-direction: column;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  gap: 0.5rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container>*+* {
  margin-top: 0.5rem;
}

.emailInput,
.passwordInput {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 1rem;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}